<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CodeModelGroupDao">
	
	<select id="queryCodeModelNumById" resultType="java.util.Map">
		SELECT 
			COUNT(*) modelNum
		FROM 
			code_model b 
		WHERE b.group_id = #{groupId}
	</select>
	
	<select id="queryTableParameterByTableName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.TABLE_SCHEMA AS tableSchema,
			a.TABLE_NAME AS tableName,
			a.COLUMN_NAME AS columnName,
			a.ORDINAL_POSITION AS ordinalPosition,
			a.COLUMN_DEFAULT AS columnDefault,
			a.IS_NULLABLE AS isNullable,
			a.COLUMN_TYPE AS columnType,
			a.COLUMN_COMMENT AS columnComment,
			a.COLUMN_KEY AS columnKey,
			a.EXTRA AS extra,
			b.TABLE_COMMENT AS tableComment
		FROM
			information_schema.COLUMNS a
			LEFT JOIN information_schema.TABLES b ON a.TABLE_NAME = b.TABLE_NAME
		WHERE a.TABLE_SCHEMA = #{dbName}
		AND a.TABLE_NAME = #{tableName}
		GROUP BY a.COLUMN_NAME
		ORDER BY a.ORDINAL_POSITION ASC
	</select>
	
	<select id="queryCodeModelListByGroupId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.model_name modelName,
			a.model_content modelContent,
			a.model_text modelText,
			a.group_id groupId,
			a.model_type modelType,
			CONVERT(a.create_time, char) createTime
		FROM
			code_model a
		WHERE a.group_id = #{groupId}
		ORDER BY a.create_time DESC
	</select>
	
	<select id="queryTableBzByTableName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.TABLE_SCHEMA AS tableSchema,
			a.TABLE_NAME AS tableName,
			a.COLUMN_NAME AS columnName,
			a.ORDINAL_POSITION AS ordinalPosition,
			a.COLUMN_DEFAULT AS columnDefault,
			a.IS_NULLABLE AS isNullable,
			a.COLUMN_TYPE AS columnType,
			a.COLUMN_COMMENT AS columnComment,
			a.COLUMN_KEY AS columnKey,
			a.EXTRA AS extra,
			b.TABLE_COMMENT AS tableComment
		FROM
			information_schema.COLUMNS a
			LEFT JOIN information_schema.TABLES b ON a.TABLE_NAME = b.TABLE_NAME
		WHERE a.TABLE_SCHEMA = #{dbName}
		AND a.TABLE_NAME = #{tableName}
		GROUP BY a.TABLE_NAME
	</select>
	
</mapper>