<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.role.dao.SysEveRoleDao">
	
	<insert id="insertSysRoleMenuMation" parameterType="java.util.Map">
	     insert into sys_eve_role_menu
	     (id, role_id, menu_id, creater, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.roleId}, #{item.menuId}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<delete id="deleteRoleMenuByRoleId" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_role_menu
		WHERE
			role_id = #{roleId}
	</delete>
	
	<select id="queryUserRoleByRoleId" resultType="java.lang.Integer">
		SELECT
			IFNULL(COUNT(a.id), 0) num
		FROM
			sys_eve_user a
		WHERE INSTR(CONCAT(',', a.role_id, ','), CONCAT(',', #{roleId}, ','))
	</select>
	
    <select id="querySysRoleAppMenuIdByRoleId" resultType="java.lang.String">
        SELECT 
            *
        FROM
        (SELECT
            a.page_id menuId
        FROM
            app_workbench_page_role a
        WHERE a.role_id = #{roleId}) m
        UNION
        SELECT
            a.auth_id menuId
        FROM
            app_workbench_page_auth_role a
        WHERE a.role_id = #{roleId}
    </select>

	<select id="querySysRoleMenuIdByRoleId" resultType="java.lang.String">
		SELECT
			a.menu_id menuId
		FROM
			sys_eve_role_menu a
		WHERE a.role_id = #{roleId}
	</select>

	<insert id="insertSysRoleAppMenuMation" parameterType="java.util.Map">
         insert into app_workbench_page_role
         (id, role_id, page_id)
         values
        <foreach collection="list" item="item" index="index" separator="," >  
            (#{item.id}, #{item.roleId}, #{item.menuId})  
        </foreach>  
    </insert>
	
    <delete id="deleteRoleAppMenuByRoleId" parameterType="java.util.Map">
        DELETE
        FROM
            app_workbench_page_role
        WHERE
            role_id = #{id}
    </delete>
	
    <insert id="insertSysRoleAppPointMation" parameterType="java.util.Map">
         insert into app_workbench_page_auth_role
         (id, role_id, auth_id)
         values
        <foreach collection="list" item="item" index="index" separator="," >  
            (#{item.id}, #{item.roleId}, #{item.pointId})  
        </foreach>  
    </insert>
	
    <delete id="deleteRoleAppPointByRoleId" parameterType="java.util.Map">
        DELETE
        FROM
            app_workbench_page_auth_role
        WHERE role_id = #{id}
    </delete>

</mapper>