<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.deploy.dao.DeployJarDao">

    <insert id="insert">
        INSERT INTO java_web_deploy
        (uuid, name, url, context_path, port, type, profile, module, branch, start_params, git_folder_name, git_folder_id)
        VALUES
        (#{uuid}, #{name}, #{url}, #{contextPath}, #{port}, #{type}, #{profile}, #{module}, #{branch}, #{startParams}, #{gitFolderName}, #{gitFolderId})
    </insert>

    <select id="queryDeployProjectById" resultType="com.skyeye.deploy.entity.deploy.JavaWebDeployInfo">

    </select>

</mapper>