<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.vehicle.dao.InspectionDao">

	<select id="queryInspectionList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			a.inspection_price inspectionPrice,
			a.inspection_area inspectionArea,
			a.this_inspection_time thisInspectionTime,
            a.next_inspection_time nextInspectionTime,
            a.vehicle_id vehicleId,
			a.create_id createId,
			CONVERT(a.create_time, char) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			vehicle_inspection a
		<where>
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<if test="keyword != null and keyword != ''">
				AND a.`name` like '%${keyword}%'
			</if>
		</where>
		ORDER BY a.create_time DESC
	</select>
	
</mapper>