<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.vehicle.dao.VehicleDao">

	<select id="queryAvailableDrivers" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_name `name`
		FROM
			sys_eve_user_staff a
		<where>
			a.job_id = 'c7a29cf189894316a617401e45eecf63'
			<if test="state != '' and state != null">
				AND a.state = #{state}
			</if>
		</where>
	</select>
	
</mapper>