<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.user.dao.UserDao">

    <select id="queryUserList" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.img img,
            a.sex sex,
            a.student_number studentNumber,
            a.signature signature,
            a.background_image backgroungImage,
            a.account_number accountNumber,
            CONVERT(a.create_time, char) createTime
        FROM
            wall_user a
        <where>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != '' and keyword != null">
                AND a.`name` like '%${keyword}%'
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>


</mapper>
