<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.afterseal.dao.AfterSealDao">

    <select id="querySealServiceOrderList" resultType="java.util.Map">
        SELECT
        	a.id,
			a.odd_number oddNumber,
			a.type_id typeId,
			a.state,
			a.holder_id holderId,
			a.declaration_time declarationTime,
			a.contacts,
			a.phone,
			a.type,
			a.declaration_id declarationId,
			a.service_user_id serviceUserId,
			a.create_id createId,
			CONVERT(a.create_time, CHAR) createTime,
			a.last_update_id lastUpdateId,
			CONVERT(a.last_update_time, CHAR) lastUpdateTime
		FROM
			crm_service a
		<where>
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<if test="keyword != null and keyword != ''">
				AND a.odd_number like '%${keyword}%'
			</if>
			<if test="state != null and state != ''">
				<choose>
					<!-- 我创建的 -->
					<when test="state == 'myCreate'">
						AND a.create_id = #{createId}
					</when>
					<!-- 待接单，待签到，待完工 -->
					<when test="state == 'pendingOrders' or state == 'beSigned' or state == 'beCompleted'">
						AND a.service_user_id = #{createId} AND a.state = #{state}
					</when>
					<!-- 待派工，待评价，待审核，已完工 -->
					<when test="state == 'beDispatched' or state == 'beEvaluated' or state == 'audit' or state == 'complate'">
						AND a.state = #{state}
					</when>
				</choose>
			</if>
		</where>
        ORDER BY a.create_time DESC
    </select>

</mapper>